/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    .options {
        background-color: darkgray;
        border-bottom-color: black;
        border-bottom-style: solid;
        border-width: 1px;
    }
}

.list-view .list-cell:good {
    -fx-background-color: white;
    -fx-fill: black;
    -fx-text-fill: black;
}

.list-view .list-cell:error {
    -fx-background-color: tomato;
    -fx-fill: white;
}

.loadbutton {
    -fx-background-color: cornsilk;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}

.custom-button-hover {
    -fx-background-color: aquamarine;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}

.custom-button-click {
    -fx-background-color: lightcoral;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}

.fail-button {
    -fx-background-color: lightcoral;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}
.pass-button {
    -fx-background-color: lightgreen;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
}